.logbook-time {
    opacity: 0.5;

    transition: 0.25s ease all;

    margin: 0 0 0 0.5em;
    
    display: inline-block;
}

.logbook-time-right {
    float: right;
}

.logbook-time:hover {
    opacity: 1;
}